<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hjw.lottery"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    <!--以下为必须的权限 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>  
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/> 
    <!--以下为可选的权限 --> <!--该权限实现拨打电话功能，不需要此功能的开发者可以不添加该权限-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--该权限实现发注册短信功能，不需要获取用户短信号码的开发者可以不添加该权限-->
    <!-- <uses-permission android:name="android.permission.SEND_SMS" /> -->
    <!--该权限实现读/写短/彩信箱功能，不需要此功能的开发者可以不添加该权限，这两项权限不能只配置其中一项，需要一起配置-->
    <!-- <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" /> -->

    <application
        android:name="com.hjw.lottery.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/XTheme.Slide" >
        <activity android:name=".ui.activity.AddUserActivity" />
        <activity android:name=".ui.activity.UserListActivity" />
        <activity android:name=".ui.activity.ContactsActivity" />
        <activity
            android:name="com.hjw.lottery.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
